.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--dull-blue);
    padding: 1rem;
    background-color: var(--dull-blue);
    color: #fff;
}

.nav-bar-wrapper > div:nth-child(2) {
    flex-basis: 65%;
}

.nav-bar-wrapper > div:nth-child(2) input {
    padding: 10px;
    width: 100%;
    background-color: var(--light-prime-gray);
    border: none;
    border-radius: 5px;
    height: 25px;
    color: var(--font-color-inverted);
}

.nav-bar-wrapper > div:nth-child(1) {
    font-size: xx-large;
    letter-spacing: 15px;
}

.nav-bar-wrapper > div:nth-child(1) > a {
    color: white;
    text-decoration: none;
}

.search-bar {
    position: relative;
}

#result-list {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    color: black;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}

.autocomplete-result:hover {
    background-color: gainsboro;
}

.autocomplete-result {
    padding: 1rem;
    border-bottom: 1px solid black;
}